In [14]:
import prepare_nb
import pandas as pd
import numpy as np

from names_generator import generate_name

n_records = 1_00_00_000
df = pd.DataFrame()
df["id"] = np.arange(1, n_records+1)
df["name"] = [generate_name(style='capital') for _ in range(n_records)]
df['age'] = np.random.randint(1, 100, size=n_records)
df["pct"] = np.random.random(size=n_records)
df["gender"] = np.random.choice(["Male", "Female"], size=n_records)

In [15]:
df.shape

(10000000, 5)

In [18]:
from python_features_lib.paths import MAIN_DIR

In [16]:
df

               id                       name  age       pct  gender
0               1         Flamboyant Jemison   40  0.396152  Female
1               2             Dreamy Haslett   61  0.900969    Male
2               3               Sweet Beaver   69  0.268380  Female
3               4  Intelligent Proskuriakova   73  0.203176  Female
4               5               Heuristic Tu   43  0.445823    Male
...           ...                        ...  ...       ...     ...
9999995   9999996               Pensive Pare   43  0.657446    Male
9999996   9999997           Thirsty Meninsky   39  0.229630    Male
9999997   9999998             Thirsty Austin    9  0.534668  Female
9999998   9999999             Focused Cannon    9  0.982330    Male
9999999  10000000        Gracious Hofstadter   14  0.032518  Female

[10000000 rows x 5 columns]

In [10]:
df.sample(20)

          id                  name  age       pct  gender
66882  66883       Trusting Cannon   65  0.602362  Female
97218  97219    Elegant Kowalevski   47  0.055817  Female
84349  84350        Cranky Feynman   69  0.416264  Female
90973  90974    Infallible Maxwell   97  0.191636    Male
43628  43629  Laughing Stonebraker   60  0.769021  Female
85603  85604    Flamboyant Shirley   21  0.185116  Female
40712  40713        Hungry Hellman   63  0.845069    Male
22442  22443      Zealous Franklin   77  0.238309  Female
914      915           Lucid Haibt   54  0.802230    Male
26913  26914       Angry Sanderson   71  0.832904  Female
63977  63978        Keen Chebyshev   54  0.991560    Male
73667  73668        Focused Jepsen    3  0.886717  Female
80024  80025         Lucid Galileo   87  0.022168    Male
50260  50261         Gifted Colden   26  0.734126    Male
25413  25414    Amazing Heisenberg   86  0.114535  Female
79745  79746      Interesting Bell   74  0.191364  Female
70711  70712      Exciting Khayyam   44  0.315082    Male
83357  83358       Nifty Blackwell   79  0.585520  Female
71182  71183   Recursing Aryabhata   30  0.531870    Male
51275  51276            Festive Wu    5  0.458204    Male

In [6]:
generate_name(style='capital')

'Elegant Perlman'